.content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.experience {
  line-height: 2rem;
  font-weight: bold;
  font-size: 1rem;
}
.experience p {
  font-size: 1.2rem;
  color: var(--red);
}
.experience button {
  padding: 0.8rem;
  width: 10.8rem;
  color:var(--white);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--red);
}

.about {
  font-weight: 550;
  width: 40%;
}

/* 800 quebre */

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: start;
  }

  .experience {
    padding-left: 2rem;
  }
  .about {
    padding-left: 2rem;
    width: 90%;
  }
}

/* 600 diminuir letras */

@media (max-width: 600px) {
  .experience {
    padding-left: 0rem;
  }
  .about {
    padding-left: 0rem;
    width: 100%;
  }
}
