.contentSchenduling {
  background-color: #800000;
  display: flex;
  height: 25rem;
}

.workshopPhoto {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/oficina.svg);
}

.text {
  width: 50%;
  display: flex;
  padding: 3.5rem 6rem;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.buttonClick {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  width: 15em;
  font-weight: bold;
  color: #800000;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  margin: 1rem 0;
  background-color: #fffefe;
}
.buttonClick a {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  color: #800000;
}

@media (max-width: 1000px) {
  .contentSchenduling {
    height: 15rem;
  }
  .text p {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .workshopPhoto {
    padding: 0 0 2rem 0;
  }
  .workshopPhoto img {
    height: 10rem;

    padding: 0;
    border-radius: 0;
  }
  .buttonClick {
    margin: 0 auto;
  }
}

@media (max-width: 321px) {
  .workshopPhoto img {
    height: 10rem;
  }
}
