.contentSchenduling {
  background-color: var(--red);
  display: flex;
  height: 25rem;
}

.workshopPhoto {
  width: 50%;
  background-size: cover;
  background-position: left;
  background-image: url(https://i.imgur.com/FOi62NP.jpg);
}

.text {
  width: 50%;
  display: flex;
  padding: 3.5rem 6rem;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
}
.text p{
  width: 109%;
}
.buttonClick {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  width: 15.5em;
  font-weight: bold;
  color: var(--red);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  margin: 1rem 0;
  background-color: var(--white);
}
.buttonClick a {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--red);
}

@media (max-width: 1000px) {
  .contentSchenduling {
    height: 15rem;
  }
  .text p {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .text p {
    width: 110%;
  }
}

@media screen and (max-width: 701px) {
  .contentSchenduling {
    flex-direction: column;
    height: auto;
  }
  
  .workshopPhoto {
  background-size: auto;

  }
  
  .text {
    width: 100%;
    padding: 2rem;
  }
}


@media (max-width: 321px) {
  .workshopPhoto {
    height: 10rem;
  }
}
