.section{
    padding: 1.5rem;
    background-color: #800000;
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.image{
    width: 4.3rem;
    padding: .5rem;
}

.imageCar{
    padding-top: .1rem;
    width: 4.2rem;

    
}