.main {
  padding: 1em 0 2em 0;
  gap: 1em;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainFlex {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cardOneTwo {
  display: flex;
  gap: 1rem;
}

.cardThreeFor {
  display: flex;
  gap: 1rem;
}

.content {
  background-color: var(--background);
  height: 19rem;
  width: 17rem;
  text-align: center;
  border-radius: 0.3rem;
}
.contentImage {
  background-image: url(https://i.imgur.com/cPgrDuZ.jpg);
  border-radius: 0.3rem 0.3rem 0 0;
  background-size: cover;
  background-position: center;
  height: 12rem;
  width: 17rem;
}

.contentImage1 {
  background-image: url(https://i.imgur.com/3SG1jQe.jpg);
  border-radius: 0.3rem 0.3rem 0 0;
  background-size: cover;
  background-position: center;
  height: 12rem;
  width: 17rem;
}

.contentImage2 {
  background-image: url(https://i.imgur.com/8Xwdule.jpg);
  border-radius: 0.3rem 0.3rem 0 0;
background-size: cover;
  background-position: center;
  height: 12rem;
  width: 17rem;
}
.contentImage3 {
  background-image: url(https://i.imgur.com/C84NUMd.jpg);
  border-radius: 0.3rem 0.3rem 0 0;
  background-size: cover;
  background-position: center;
  height: 12rem;
  width: 17rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--red);
  font-weight: bold;
}
.text p {
  padding: 0.3rem;
}

.text button {
  padding: 0.8rem;
  width: 10.8rem;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--red);
}

.buttonClick {
  display: flex;
  padding: 0.8rem;
  width: 15em;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--red);
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOverlay {
  color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 90%;
  max-width: 500px;
  background-color: var(--backgroundModal);
  padding: 10px;
  border-radius: 5px;
}
.buttonModal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--red);
  font-weight: bold;
}

@media (max-width: 600px) {
  p {
    font-size: 1.2rem;
    padding: 0.2rem;
  }
  .content {
    height: 23rem;
    width: 19rem;
  }
  .contentImage {
    width: 19rem;
    height: 16rem;
  }
  .contentImage1 {
    width: 19rem;
    height: 16rem;
  }
  .contentImage2 {
    width: 19rem;
    height: 16rem;;
  }
  .contentImage3 {
    width: 19rem;
    height: 16rem;
  }
  .mainFlex {
    gap: 1.5rem;
  }
  .cardOneTwo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cardThreeFor {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }
  .buttonClick {
    width: 13rem;
    margin: 0 auto;
  }
}

@media (max-width: 321px) {
  .content {
    height: 19rem;
    width: 18rem;
  }
  .contentImage {
    width: 18rem;
  }
}
