.content {
  height: 90vh;
  display: flex;
  background-size: cover;
  background-image: url(https://i.imgur.com/dlrQUeN.png);
}

.textContent {
  width: 70.9%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 7rem;
}

.textContent h1 {
  font-size: 4rem;
}
.textContent p {
  font-size: 1.4em;
}

@media (max-width: 900px) {
  .textContent h1 {
    font-size: 3rem;
  }
  .content {
    height: 70vh;
  }
  .textContent p {
    font-size: 1em;
  }
}

@media (max-width: 602px) {
  .content {
    height: 80vh;
  }
  .textContent {
    width: 88%;
    justify-content: center;
    margin: 0 auto;
    margin-left: 1.5rem;
  }
  .textContent h1 {
    padding: 0;
    font-size: 2rem;
  }
  .textContent p {
    font-size: 1.1em;
  }
}

@media (max-width: 321px) {
  .textContent {
    margin-left: 1rem;
  }
}
