.iconWhatsapp {
  display: flex;
  justify-content: end;
}
.iconWhatsapp img {
  top: 83%;
  right: 1%;
  position: fixed;
  width: 3rem;
}

.content {
  background-color: #800000;
  padding: 0.5rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 5.5rem;
  padding: 0.3rem;
}

.lista {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: row;
    height: 7rem;
    padding: 1rem 5rem;
  }
  .lista {
    font-size: 1.3rem;
    padding: 0.3rem;
  }
}

@media (max-width: 601px) {
  .content {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0.5rem 0 1rem;
  }
  .lista {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

@media (max-width: 400px) {
  .content {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0.5rem 0 1rem;
  }
  .logo {
    height: 5rem;
  }
  .lista {
    flex-wrap: wrap;
    font-size: 1rem;
    padding: 0.3rem;
  }
}
