.content {
  
  background-color: #800000;
  padding: 0.5rem;
  height: 6rem;
}

.content {
  padding: 0 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  
  height: 5rem;
}

.lista {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
