.content {
  background-color: #800000;
  padding: 0.5rem;
  height: 6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  height: 5rem;
}

.lista {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #fff;
}

li:hover {
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
}
