.main {
  padding: 3rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.containerRedes {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.redes {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
